.search-page {
  height: 100%;
}

.search-page input {
  width: 100%;
  height: 56px;
  color: inherit;
  outline: none;
  padding: 0 20px;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  transition: border-color 250ms ease-in-out;
  margin-top: 100px;
  background-color: inherit;
}

.dark .search-page input {
  border: 1px solid #808080;
}

// .search-page input:hover,
.search-page input:focus {
  border: 1px solid var(--color-primary-100);
}
