.search-page {
  height: 100%;
}

.search-page__input {
  width: 100%;
  height: 56px;
  color: inherit;
  outline: none;
  padding: 0 20px;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  transition: border-color 250ms ease-in-out;
  margin: 20px 0;
  background-color: inherit;
}

.dark .search-page__input {
  border: 1px solid #808080;
}

// .search-page input:hover,
.search-page__input:focus {
  border: 1px solid var(--color-primary-100);
}

.search-page__results {
  padding: 0;
}


.search-page-form input {
  height: 50px;
  font-size: 20px;
  font-weight: 300;
}

.search-page-form input,
.search-page-form input:hover,
.search-page-form input:focus,
.search-page-form input:active {
  // border: none;
}
