.book-editor input {
  border-color: var(--basicui-bg-primary-transparent);
  // background-color: var(--theme-white-500);
}

.basicui-dark .book-editor input {
  border-color: var(--basicui-bg-primary-transparent);
  // background-color: var(--theme-black-200);
}

.book-editor__view {
  padding-bottom: 6px;
}

.book-editor__results__container {
  // padding-bottom: 10px;
}

.book-editor__results {
  margin-top: 6px;
  input {
    border-color: var(--theme-black-600);
  }
}

.book-editor__results .note-label {
  background-color: inherit;
  border: 1px dashed var(--theme-white-900);
}
.basicui-dark .book-editor__results .note-label {
  border-color: var(--theme-black-extended-200);
}

.book-editor__view__star-active svg {
  color: var(--basicui-bg-primary);
}

.book-editor__view__item {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  align-items: center;
  text-align: left;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 12px;
  background-color: var(--theme-white-500);
  color: var(--theme-white-500i);
  margin-bottom: 10px;
  border: none;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.basicui-dark .book-editor__view__item {
  background-color: var(--theme-black-extended-700);
  color: var(--theme-black-extended-700i);
}

button.book-editor__view__item :hover,
button.book-editor__view__item :focus,
button.book-editor__view__item :active {
  background-color: var(--basicui-bg-primary-transparent);
  color: var(--basicui-bg-primary-transparenti);
}

.book-editor__view__item button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
