.context-content {
  position: fixed;
  top: 0;
  bottom: 0;
  right: var(--oak-app-layout-contextbar-mini-width);
  transition: right 150ms ease-in-out, background-color 250ms ease-in-out;
  width: var(--oak-app-layout-contextbar-width);
  z-index: 1;
}

.context-content__contextbar-inactive {
  right: calc(
    0px - var(--oak-app-layout-contextbar-mini-width) -
      var(--oak-app-layout-contextbar-width)
  );
}
