.index-page-form {
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 10px;
    align-items: center;
}

.index-page-form button {
    height: 36px;
    width: 36px;
}

.index-page-form input {
    border-color: var(--theme-white-900);
    background-color: var(--theme-white-200);
    border-radius: 4px;
    height: 36px;
    font-size: 18px;
    font-weight: 300;
}

.index-page-form input:hover {
    border-color: var(--basicui-bg-primary-transparent);
    background-color: var(--theme-white-300);
}

.index-page-form input:focus,
.index-page-form input:active {
    border-color: var(--basicui-bg-primary-transparent);
    background-color: var(--theme-white-300);
}


.basicui-dark .index-page-form input {
    border-color: var(--theme-black-extended-400);
    background-color: var(--theme-black-extended-900);
}

.basicui-dark .index-page-form input:hover {
    border-color: var(--basicui-bg-primary-transparent);
    background-color: var(--theme-black-extended-800);
}

.basicui-dark .index-page-form input:focus,
.basicui-dark .index-page-form input:active {
    border-color: var(--basicui-bg-primary-transparent);
    background-color: var(--theme-black-extended-800);
}

