// textarea {
//   width: 100%;
//   background-color: inherit;
//   color: inherit;
//   height: 100%;

//   border: none;
//   outline: none;
//   &:focus {
//     border: none;
//     outline: none;
//   }
// }

a {
  color: var(--color-primary-100);
  &:hover {
    text-decoration: underline;
    // color: #6035fd;
  }
}

p {
  margin-bottom: 10px;
}

.editor {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // column-gap: 40px;
}

.editor-hint-subtext {
  color: red;
}
