.book-page-details {
  display: grid;
  row-gap: 12px;
}

.book-page-details p {
  margin: 0;
}

a {
  font-size: 18px;
}

.book-page-details__sources {
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  justify-content: flex-start;
  a {
    font-size: 14px;
  }
}

.book-page-details__sources {
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  justify-content: flex-start;
  span {
    font-size: 14px;
  }
}
