.book-page-details {
  display: grid;
  row-gap: 12px;
}

.book-page-details p {
  margin: 0;
}

a {
  font-size: 18px;
  display: inline;
  transition: 150ms color ease-in-out, 150ms border-color ease-in-out;
  // cursor: pointer;
}

.book-page-details__sources {
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  justify-content: flex-start;
  a {
    font-size: 14px;
  }
  a,
  a:hover,
  a:focus,
  a:active {
    // text-decoration: underline
  }

  a,
  a:visited {
    color: var(--basicui-bg-primary-text);
    border-bottom: inherit;
    text-decoration: none; /* Underline by default */
  }

  a:hover,
  a:focus {
    color: var(--basicui-bg-secondary-text);
    border-color: inherit;
    text-decoration: none; /* Remove underline on hover */
  }
}

.basicui-dark .book-page-details__sources {
  a,
  a:visited {
    color: var(--basicui-bg-primary-text);
  }

  a:hover,
  a:focus {
    color: var(--basicui-bg-secondary-text);
  }
}
