.book-page {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 24px;
  row-gap: 24px;
}

.book-page__left {
}
.book-page__right {
}

@media (max-width: 767px) {
  .book-page {
    grid-template-columns: 1fr;
    column-gap: 20px;
  }
}
