.browse-page-categoryview__heading {
    padding: 12px 12px 0 12px;
}

.browse-page-categoryview__heading-container {
    border-bottom: 1px solid var(--basicui-border-color);
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
}