.browse-page {
  height: 100%;
  display: grid;
  grid-template-columns: calc(var(--basicui-appshell-navbar-width) + 36px) 1fr;
}

.browse-page-browser {
  background-color: var(--basicui-bg-surface);
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}

.browse-page-browser__header {
  height: var(--app-layout-topbar-height);
  border-bottom: 1px solid var(--basicui-border-color);
  align-content: center;
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  justify-content: flex-start;
  font-size: 12px;
}

.browse-page-browser__footer {
  height: var(--app-layout-topbar-height);
  border-top: 1px solid var(--basicui-border-color);
  align-content: center;
}

.browse-page-browser__main {
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.browse-page-browser__main::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.browse-page-browser__header,
.browse-page-browser__footer,
.browse-page-browser__action {
  padding: 0 12px;
}

.browse-page-browser__action {
  padding: 6px 0;
  border-top: 1px solid var(--basicui-border-color);
}

@media (max-width: 767px) {
  .browse-page {
    grid-template-columns: 1fr;
  }
  .browse-page-main {
    display: none;
  }
  .browse-page-browser {
    height: calc(100vh - var(--basicui-appshell-topbar-height));
  }
}
