.browse-page {
  height: 100%;
  display: grid;
  // grid-template-columns: calc(var(--basicui-appshell-navbar-width) + 36px) 1fr;
}

.browse-page-browser {
  background-color: var(--basicui-bg-surface);
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-right: 1px solid var(--basicui-border-color);
}

.browse-page-browser__main {
  border-top: 1px solid var(--basicui-border-color);
}

.browse-page-browser__main {
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.browse-page-browser__main::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.browse-page-browser__action {
  padding: 0 12px;
}

.browse-page-browser__action {
  padding: 6px 0;
  border-top: 1px solid var(--basicui-border-color);
}

.browse-page-main {
  background-color: var(--basicui-bg-surface);
  min-height: 100vh;
  // overflow-y: auto;
}

@media (max-width: 767px) {
  .browse-page-browser {
    height: calc(100vh - var(--basicui-appshell-topbar-height));
  }
}
