.context-content-mini {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transition: width 250ms ease-in-out, background-color 250ms ease-in-out;
  width: var(--oak-app-layout-contextbar-mini-width);
  z-index: 2;
}

.context-content-mini__header {
  height: var(--oak-app-layout-topbar-height);
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: space-between;
  // margin-left: 35px;
  padding: 0 10px;
}

.context-content-mini__header__logo,
.context-content-mini__header__button {
  // width: 60px;
  display: flex;
  justify-content: center;
}
.context-content-mini__header__button {
  width: 60px;
}

.context-content-mini__header__button button {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.dark .context-content-mini__header__button button {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.context-content-mini__menu {
  padding: 10px 10px;
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
  align-content: flex-start;
}

.context-content-mini__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: var(--oak-app-layout-contextbar-width);
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  // height: var(--oak-app-layout-topbar-height);
  padding: 10px 10px;
  color: #000;
}

.dark .context-content-mini__footer {
  color: #fff;
}

.context-content-mini__footer__left {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  width: 100%;
  button {
    font-size: 24px;
    width: 60px;
    display: flex;
    justify-content: center;
  }
}

.context-content-mini__footer__right {
  width: 60px;
  display: flex;
  justify-content: center;
}
