.label-editor input {
  border-color: var(--basicui-bg-primary-transparent);
  // background-color: var(--theme-white-500);
}

.basicui-dark .label-editor input {
  border-color: var(--basicui-bg-primary-transparent);
  // background-color: var(--theme-black-200);
}

.label-editor__view {
  padding-bottom: 6px;
}

.label-editor__results__container {
  // padding-bottom: 10px;
}

.label-editor__results {
  margin-top: 6px;
  input {
    border-color: var(--theme-black-600);
  }
}

.label-editor__results .note-label {
  background-color: inherit;
  border: 1px dashed var(--theme-white-900);
}
.basicui-dark .label-editor__results .note-label {
  border-color: var(--theme-black-extended-200);
}

.label-editor__view__star-active svg {
  color: var(--basicui-bg-primary);
}
