.link-view-topbar {
  height: var(--oak-app-layout-topbar-height);
  display: grid;
  grid-template-columns: 1fr auto;
  // column-gap: 10px;
  padding: 0 20px;
  // justify-content: flex-start;
  align-content: center;
  .invert-icon {
    transform: rotate(90deg);
  }
  button {
    padding: 0 10px;
  }
  button.active,
  button:hover {
    color: var(--color-primary-100);
  }
}

.link-view {
  display: grid;
  grid-auto-flow: row;
  overflow: auto;
  align-content: flex-start;
  height: calc(100vh - var(--oak-app-layout-topbar-height));
  // row-gap: 12px;
}

.link-view__header {
  display: grid;
  grid-template-columns: 16px auto 1fr;
  justify-items: flex-start;
  padding: 0px 10px;
  width: 100%;
  height: 42px;
  align-items: center;
  cursor: default;
}

.link-view__header__indicator {
  transition: transform 100ms ease-in-out;
}

.link-view__header__indicator--expanded {
  transform: rotate(90deg);
}

.link-view__children {
  opacity: 0;
  transition: height 100ms ease-in-out, opacity 100ms ease-in-out;
  margin-left: 16px;
  padding: 0 10px;
}

.link-view__children--expanded {
  opacity: 1;
}

.link-view__children--collapsed {
  overflow: hidden;
}

.link-view__header__count {
  padding: 0 10px;
  border-radius: 4px;
  margin-left: 12px;
}
