.logo {
  display: grid;
  grid-auto-flow: column;

  .logo--image,
  .logo--text {
    display: flex;
    align-items: center;
    img {
      height: 42px;
      padding: 6px;
    }
  }
}

.logo--text {
  width: auto;
  img {
    height: 70% !important;
  }
}

.logo--image {
  // width: 60px;
  display: flex;
  justify-content: center;
  // background-color: #c0c0c0;
  border-radius: 100px;
}

.dark .logo--image {
  // background-color: #464646;
}