.side-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--oak-app-layout-sidebar-width-shrinked);
  transition: left 250ms ease-in-out, background-color 250ms ease-in-out,
    border-color 250ms ease-in-out;
  width: var(--oak-app-layout-sidebar-width);
  z-index: 1;
  border-right: 1px solid #d7d7d7;
  overflow: auto;
  // height: calc(100vh - var(--oak-app-layout-topbar-height));
  height: 100vh;
}

.dark .side-content {
  border-right: 1px solid #3e3e3e;
}

.side-content__sidebar-inactive {
  left: calc(
    0px - var(--oak-app-layout-sidebar-width-shrinked) -
      var(--oak-app-layout-sidebar-width)
  );
}
