.search-block {
  position: relative;
}

.search-block input {
  width: 100%;
}

.search-block__popup {
  position: absolute;
  width: 100%;
  top: 40px;
  padding: 4px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  display: grid;
  grid-auto-flow: row;
  z-index: 2;
}

.dark .search-block__popup {
  border: 1px solid #3e3e3e;
}

.search-block__popup__header {
  font-size: 12px;
  padding: 10px 0 0 10px;
  letter-spacing: 1.5px;
  font-weight: 500;
}

.search-block__popup button {
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 6px;
  justify-content: flex-start;
  border-radius: 6px;
}
