.filter-result-item {
  padding: 10px 0;
  cursor: default;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  justify-content: flex-start;
  justify-items: flex-start;
  text-align: left;
}

.filter-result-item span {
  background-color: #ebe5ba;
  color: inherit;
}
.dark .filter-result-item span {
  background-color: #5f5727;
}

.filter-result-item {
  display: inline;
  position: relative;
}

.filter-result-item__main {
  // display: inline;
  display: grid;
  justify-content: flex-start;
  text-align: left;
  padding: 10px 10px;
  row-gap: 5px;
  width: 100%;
}

.filter-result-item__main__title {
  font-weight: 600;
}

.filter-result-item .filter-result-item__expand-start,
.filter-result-item .filter-result-item__expand-end {
  visibility: hidden;
}
.filter-result-item:hover .filter-result-item__expand-start,
.filter-result-item:hover .filter-result-item__expand-end,
.filter-result-item__expand-start:hover,
.filter-result-item__expand-end:hover {
  visibility: visible;
}

.filter-result-item__expand-start,
.filter-result-item__expand-end {
  position: absolute;
  transition: transform 100ms ease-in-out;
}
.filter-result-item__expand-start {
  top: 6px;
  right: 12px;
}
.filter-result-item__expand-end {
  bottom: 6px;
  right: 12px;
}
.filter-result-item__expand-start--invert,
.filter-result-item__expand-end--invert {
  transform: scaleY(-1);
}
