.filter-results {
  display: grid;
  grid-auto-flow: row;
  padding: 0 10px;
}

.filter-results .filter-results__item {
  border-bottom: 1px solid #d7d7d7;
}
.dark .filter-results .filter-results__item {
  border-bottom: 1px solid #3e3e3e;
}

.filter-results:nth-last-child(n) {
  border-bottom: none;
}
