.search-explorer {
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // left: var(--oak-app-layout-sidebar-width-shrinked);
  // transition: width 250ms ease-in-out, background-color 250ms ease-in-out,
  //   left 250ms ease-in-out;
  // width: var(--oak-app-layout-sidebar-width);
  display: grid;
  grid-template-rows: auto 1fr;
}

// .search-explorer--inactive {
//   left: calc(
//     0px - var(--oak-app-layout-sidebar-width-shrinked) -
//       var(--oak-app-layout-sidebar-width)
//   );
// }

.search-explorer__header {
  height: var(--oak-app-layout-topbar-height);
  display: grid;
  align-content: center;
  padding: 0 10px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  grid-template-columns: 1fr auto;
}

.search-explorer__header__action button {
  padding: 0 10px;
}
.search-explorer__header__action button:hover {
  color: var(--color-primary-100);
}

.search-explorer__body {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

.search-explorer__body__input {
  margin: 0 10px;
}
